body{
    margin: 2%;/* Arriba | Derecha | Abajo | Izquierda */ 
    display: flex;
}

.photoSection{

    /* flex-wrap: wrap; */
    align-content: flex-start;
    display: grid;
    grid-template-columns: auto auto;
}

.photoSection1, .photoSection2, .photoSection3, .photoSection4{
    width: 45vw;
    height: 45vh;
}

@media only screen and (max-width: 768px) {
    .photoSection{

        /* flex-wrap: wrap; */
        align-content: flex-start;
        display: grid;
        grid-template-columns: auto;
    }   
    .photoSection1 {width:90%;}
    .photoSection2 {width: 90%;}
    .photoSection3 {width: 90%;}
    .photoSection4 {width: 90%;}
    .photoSection5 {width: 90%;}
}
  

  